{
  "presets": ["react-app"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "slides": "./src/js/slides",
        "components": "./src/js/components",
        "assets": "./src/assets"
      }
    }]
  ]
}
